RewriteEngine on
RewriteBase   /
#Если .htm файл устанавливаем переменную окружения HTM=1
RewriteRule   ^(.*)\.jpg$ $1      [C,E=JPG:1]
#Проверяем существует ли файл на диске
	#RewriteCond   %{REQUEST_FILENAME}.jpg -f
#Если существует делаем редирект
	#RewriteRule   ^(.*)$ /size_image.php                  [S=1,R]
# если не сеществует и  переменная окружения HTM=1 показываем запрошенный .htm
RewriteCond   %{ENV:JPG}            ^1$
RewriteRule   ^(.*)$ /size_image.php
ErrorDocument 404 /size_image.php