body {
    margin: 0px;
    overflow: hidden;
}

#look {
    position: fixed;
    width: 600px;
    height: 250px;
    background-color: #666666;
    opacity: 0.3;
    z-index: 999;
    font-size: 70pt;
    color: #000000;
}

#look_image {
    float: left;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 30px;
}

#look_image .control {
    z-index: 11;
    max-height: 29px;
}

#opacity {
    background-color: #FFFFFF;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    z-index: 10;
}

#opacity:hover,#menu_next:hover {
    opacity: 0.6;
}

#img_in {
    float: none;
    margin: auto;
    text-align: center;
    width: auto;
}

#container {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#menu_next {
    background-color: #FFFFFF;
    float: left;
    height: 100%;
    margin: 30px 0;
    opacity: 0.2;
    position: absolute;
    width: 5%;
    z-index: 9;
}

.next, .prev {
    background: url("images/naxt.png") no-repeat scroll 0 0 transparent;
    height: 208px;
    margin: 9px;
    max-width: 90px;
    opacity: 0.4;
    padding: 3px;
    width: 100%;
}

.next:hover, .prev:hover {

        opacity: 0.8;

}

.prev {
    background: url("images/naxt.png") no-repeat scroll -94px 0 rgba(0, 0, 0, 0);
}

#admin_content {
    width: 100%;
}

#admin_pano {
    margin: 200px;
    width: 600px;
    float: left;
}

#admin_change {
    border: 2px solid;
    float: right;
    height: 100%;
    margin: 70px;
    min-height: 500px;
    width: 50%;
}

.rows {
    border: 2px solid;
    display: inline-table;
    height: 100px;
    margin: 20px;
    width: 100px;
}

#rowchange {
    width: 450px;
    overflow: hidden;
}

.blue {
    background-color: deepskyblue;
}

#startrow {
    background-image: url("images/row.png");
    background-position: 15px 32px;
    background-repeat: no-repeat;
}

#finishrow {
    background: url("images/row.png");
    background-position: 18px -53px;
    background-repeat: no-repeat;
}

#train {
    background: url("images/row.png");
    background-position: 18px -10px;
    background-repeat: no-repeat;
}

#treerowleft {
    background: url("images/row.png");
    background-position: -153px -2px;
    background-repeat: no-repeat;
}

#treerowright {
    background: url("images/row.png");
    background-position: -261px 0;
    background-repeat: no-repeat;
}

#forrow {
    background: url("images/row.png");
    background-position: -356px 0;
    background-repeat: no-repeat;
}

.control {
    width: 36px;
    height: 50px;
    background:url("images/controls.png");
    background-repeat: no-repeat;
    float: right;
    margin: 0 2px;
    cursor: pointer;
}

#autorotate {
    background-position: 3px;
}

#left_control{
    background-position: -31px;
}

#right_control {
    background-position: -64px;
}

#up_control{
    background-position: -96px;
}

#down_control {
    background-position: -130px;
}

#fov_in{
    background-position: -166px;
}

#fov_out {
    background-position: -200px;
}

#fullscrin{
    background-position: -252px;
}

#info {
    background-position: -294px;
}
